<footer class="footer">
  <!-- Affichage du message de copyright -->
   <div class="Documentations">
     <a target="_blank" href="https://cdoc-wfe.collab.ca-toulouse31.credit-agricole.fr/ComptesetServices/PMCCP_Comptes%20et%20Services_Ma%20Banque%20au%20Quotidien-Essentiel-Premium-Prestige_Offre%20et%20tarifs%20Ma%20Banque%20au%20Quotidien.pdf">Ma Banque au Quotidien pdf</a>
     <a target="_blank" href="https://cdoc-wfe.collab.ca-toulouse31.credit-agricole.fr/ComptesetServices/PMCCP_Biblioth%C3%A8que%20transverse_Comptes%20Services_Gamme%20Offres%20Particuliers.pdf">Comparatif Comptes Services pdf</a>
     <a target="_blank" href="https://www.credit-agricole.fr/offre/compte/index.html?ORI=EDEGGLTM&at_medium=sea&at_campaign=EDE_P_EER_MBQ_marquembq_FR&at_presta=Google&at_libre=Marque_CA_G%C3%A9n%C3%A9rique&at_audience=&utm_cid=18588365669&utm_agid=137543717410&utm_kw=credit%20agricole&utm_mt=b&gad_source=1&gclid=Cj0KCQiAsOq6BhDuARIsAGQ4-zhiU9SgD5IWlzZ1Vz3utgoq8aZkm_-cqDmZ4Km9cLpD9bvERlxRFPIaApqmEALw_wcB">Les offres MBQ </a>
   </div>
  <p>&copy; 2024 Transformation CSCA. Tous droits réservés.</p>
</footer>